<%= form_for(@racun) do |f| %>
  <% if @racun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@racun.errors.count, "error") %> prohibited this racun from being saved:</h2>

      <ul>
      <% @racun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datum %><br>
    <%= f.date_select :datum %>
  </div>
  <div class="field">
    <%= f.label :znesek %><br>
    <%= f.text_field :znesek %>
  </div>
  <div class="field">
    <%= f.label :uporabnik_id %><br>
    <%= f.text_field :uporabnik_id %>
  </div>
  <div class="field">
    <%= f.label :stranka_id %><br>
    <%= f.text_field :stranka_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
