<%= form_for(@postum) do |f| %>
  <% if @postum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postum.errors.count, "error") %> prohibited this postum from being saved:</h2>

      <ul>
      <% @postum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :postnaSt %><br>
    <%= f.number_field :postnaSt %>
  </div>
  <div class="field">
    <%= f.label :naziv %><br>
    <%= f.text_field :naziv %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
