<p id="notice"><%= notice %></p>

<p>
  <strong>Postnast:</strong>
  <%= @postum.postnaSt %>
</p>

<p>
  <strong>Naziv:</strong>
  <%= @postum.naziv %>
</p>

<%= link_to 'Edit', edit_postum_path(@postum) %> |
<%= link_to 'Back', posta_path %>
