<%= form_for(@uporabnik) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
        <%= f.label :ime %>
        <%= f.text_field :ime %>
    </div>
    <div class="field">
        <%= f.label :priimek %>
        <%= f.text_field :priimek %>
    </div>
    <div class="field">
        <%= f.label :nazivPodjetja %>
        <%= f.text_field :nazivPodjetja %>
    </div>
    <div class="field">
        <%= f.label :naslov %>
        <%= f.text_field :naslov %>
    </div>
    <div class="field">
      <%= f.label :posta_id %>
      <%= f.text_field :posta_id %>
    </div>
    <div class="field">
        <%= f.label :telefon %>
        <%= f.text_field :telefon %>
    </div>
    <div class="field">
        <%= f.label :davcna %>
        <%= f.text_field :davcna %>
    </div>
    <div class="field">
        <%= f.label :trr %>
        <%= f.text_field :trr %>
    </div>
    <div class="field">
        <%= f.label :ddv %>
        <%= f.check_box :ddv %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <%= render 'shared/error_messages' %>
<% end %>
