<h2>Vsi uporabniki</h2>

<table class="center">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Naziv Podjetja</th>
      <th>Email</th>
      <th>Posta</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uporabniks.each do |uporabnik| %>
      <tr>
        <td><%= uporabnik.ime %></td>
        <td><%= uporabnik.priimek %></td>
        <td><%= uporabnik.nazivPodjetja %></td>
        <td><%= uporabnik.email %></td>
        <td><%= uporabnik.posta.postnaSt %></td>
        <td><%= link_to 'Pokaži', uporabnik %></td>
        <td><%= link_to 'Uredi', edit_uporabnik_path(uporabnik) %></td>
        <td><%= link_to 'Zbriši', uporabnik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nov Uporabnik', new_uporabnik_path %>
