<p>
  <strong>Ime:</strong>
  <%= @uporabnik.ime %>
</p>

<p>
  <strong>Priimek:</strong>
  <%= @uporabnik.priimek %>
</p>

<p>
  <strong>Naziv podjetja:</strong>
  <%= @uporabnik.nazivPodjetja %>
</p>

<p>
  <strong>Naslov:</strong>
  <%= @uporabnik.naslov %>
</p>

<p>
  <strong>Email:</strong>
  <%= @uporabnik.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @uporabnik.telefon %>
</p>

<p>
  <strong>Davcna:</strong>
  <%= @uporabnik.davcna %>
</p>

<p>
  <strong>Trr:</strong>
  <%= @uporabnik.trr %>
</p>

<p>
  <strong>Ddv:</strong>
  <%= @uporabnik.ddv %>
</p>

<p>
  <strong>Geslo:</strong>
  <%= @uporabnik.password_digest %>
</p>

<p>
  <strong>Pošta:</strong>
  <%= @uporabnik.posta.postnaSt %>
</p>

<%= link_to 'Uredi', edit_uporabnik_path(@uporabnik) %> |
<%= link_to 'Domov', '#' %>
