<h1>Listing storitevs</h1>

<table>
  <thead>
    <tr>
      <th>Skupnakolicina</th>
      <th>Cenanakos</th>
      <th>Opis</th>
      <th>Uporabnik</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @storitevs.each do |storitev| %>
      <tr>
        <td><%= storitev.skupnaKolicina %></td>
        <td><%= storitev.cenaNaKos %></td>
        <td><%= storitev.opis %></td>
        <td><%= storitev.uporabnik %></td>
        <td><%= link_to 'Show', storitev %></td>
        <td><%= link_to 'Edit', edit_storitev_path(storitev) %></td>
        <td><%= link_to 'Destroy', storitev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storitev', new_storitev_path %>
