<%= form_for(@stranka) do |f| %>
  <% if @stranka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stranka.errors.count, "error") %> prohibited this stranka from being saved:</h2>

      <ul>
      <% @stranka.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ime %><br>
    <%= f.text_field :ime %>
  </div>
  <div class="field">
    <%= f.label :priimek %><br>
    <%= f.text_field :priimek %>
  </div>
  <div class="field">
    <%= f.label :nazivPodjetja %><br>
    <%= f.text_field :nazivPodjetja %>
  </div>
  <div class="field">
    <%= f.label :naslov %><br>
    <%= f.text_field :naslov %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefon %><br>
    <%= f.text_field :telefon %>
  </div>
  <div class="field">
    <%= f.label :davcna %><br>
    <%= f.text_field :davcna %>
  </div>
  <div class="field">
    <%= f.label :trr %><br>
    <%= f.text_field :trr %>
  </div>
  <div class="field">
    <%= f.label :ddv %><br>
    <%= f.check_box :ddv %>
  </div>
  <div class="field">
    <%= f.label :posta_id %><br>
    <%= f.text_field :posta_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
