<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @stranka.ime %>
</p>

<p>
  <strong>Priimek:</strong>
  <%= @stranka.priimek %>
</p>

<p>
  <strong>Nazivpodjetja:</strong>
  <%= @stranka.nazivPodjetja %>
</p>

<p>
  <strong>Naslov:</strong>
  <%= @stranka.naslov %>
</p>

<p>
  <strong>Email:</strong>
  <%= @stranka.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @stranka.telefon %>
</p>

<p>
  <strong>Davcna:</strong>
  <%= @stranka.davcna %>
</p>

<p>
  <strong>Trr:</strong>
  <%= @stranka.trr %>
</p>

<p>
  <strong>Ddv:</strong>
  <%= @stranka.ddv %>
</p>

<p>
  <strong>Posta:</strong>
  <%= @stranka.posta %>
</p>

<%= link_to 'Edit', edit_stranka_path(@stranka) %> |
<%= link_to 'Back', strankas_path %>
