<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Hermes-notes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <section class="banner">
        <br/>
    </section>
    <section class="main center box" id="mainSCTN">
        <%= yield %>
    </section>
    <footer>
        <p id="footerP">Powered by Hermes-notes</p>
    </footer>

</body>
</html>
